<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ _target.title }} | {{ _config.project.title }}</title>
  <style>
    /*
    Using some inline styles for spacing, etc. to components that will be
    applied JUST for the component library and not part of the production css.
    */
    @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    @import url('https://fonts.googleapis.com/css?family=Quicksand');
  </style>
</head>
<body>
{{{ yield }}}
</body>
</html>